.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 300px;
    height: 526px;
    text-align: center;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 300px;
    height: 526px;
    text-align: center;
}

div {
	margin-left: auto;
    margin-right: auto;
    display: inline-block;
    align-items: center;
}

.div22 {
    
    width:30%%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.div12 {
    width:95%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

h1{
    color: black;
}
h3{
    color: black;
}
p{
    color: black;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}