<div id="main">
  <div id="content">
    <div class="box">
      <div class="head">
        <h2>LATEST MOVIES</h2>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">X-MAN</span></span> 
          <a href="#"><img src="../../../assets/images/movie1.jpg" alt="" /></a> </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          <span class="comments">12</span> </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">SPIDER MAN 2</span></span> 
          <a href="#"><img src="../../../assets/images/movie2.jpg" alt="" /></a> </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          <span class="comments">12</span> </div>
      </div>
    </div>
  </div>
</div>