 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="div12"> 
   <!-- ________________________GEOOOOOOOOOOOO -->
    <div class="card">
     <img src="https://image.ibb.co/fvj2HT/36975853_10216020808744000_36924602642857984_n.jpg" alt="John" style="width:100%">
     <h1>Georgakopoulos Nikolaos</h1>
     <p class="title">Digital Systems</p>
     <p>University of Piraeus</p>
     <a href="https://www.linkedin.com/in/nikosgew/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <p><a href="mailto:nsgewrgakopoulos@gmail.com"><button>Contact</button></a></p>
   </div> 
      <!-- ________________________Arnaaaaaaaaaaald -->

   &nbsp;&nbsp;&nbsp;&nbsp;
   <div class="card">
      <img src="https://image.ibb.co/gjnMbo/36975896_2200233450016969_2764345796152262656_n.png" alt="John" style="width:100%">
      <h1>Gkiata Arnald</h1><br>
      <p class="title">Computer Science</p><br>
      <p>Athens University of Economics and Business</p>
      <a href="https://www.linkedin.com/in/arnald-gkiata-57896314a/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <p><a href="mailto:EMAILADDRESS"><button>Contact</button></a></p>
    </div> 

    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card">
       <img src="https://image.ibb.co/mEqZU8/myAvatar.png" alt="John" style="width:100%">
       <h1>Sakarikos Kleanthis </h1>
       <p class="title">Computer Software Engineering</p>
       <p>Technological Educational Institute of Athens</p>
       <a href="https://www.linkedin.com/in/kleanthis-sakarikos-89b68b145/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <p><a href="mailto:alkhs01@gmail.com"><button>Contact</button></a></p>
     </div>
     </div>
  <!-- ________________________ageeeeeeeeeeeeeeeeeelooooooooooooooooooooooooos -->
  <br><br><br>
  <div  class="div22">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card">
     <img src="https://image.ibb.co/dqE548/37011747_1574842282643320_7237108709388713984_n.png" alt="John" style="width:100%">
     <h1>Todhri Angjelo  </h1><br>
     <p class="title">Computer Software Engineering</p><br>
     <p>University of Ioannina</p>
     <a href="https://www.linkedin.com/in/angjelo-todhri/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <p><a href="mailto:todhri_angjelo@outlook.com.gr"><button>Contact</button></a></p>
   </div>
  <!-- ________________________Mpaaaaaaaaaaaaaaaaaaaamphhhhhhhhhhhhhhhhhhhssssssssssssssssss -->


   &nbsp;&nbsp;&nbsp;&nbsp;
   <div class="card">
      <img src="https://image.ibb.co/cNXJ6o/36978272_10217292422091369_7078308263623655424_n.png" alt="John" style="width:100%">
      <h1>Zormpas Charalampos</h1>
      <p class="title">Digital Systems</p>
      <p>University of Piraeus</p>
      <a href="https://www.linkedin.com/in/charalampos-zormpas/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <p><a href="mailto:zormpas.charalampos@gmail.com"><button>Contact</button></a></p>
    </div>
  </div>

  