 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="div12"> 
   <!-- ________________________GEOOOOOOOOOOOO -->
    <div class="card">
     <img src="https://image.ibb.co/mEqZU8/myAvatar.png" alt="John" style="width:100%">
     <h1>Georgakopoulos Nikolaos</h1>
     <p class="title">Digital Systems</p>
     <p>University of Piraeus</p>
     <a href="#"><i class="fa fa-instagram"></i></a>&nbsp;
     <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
     <a href="https://www.linkedin.com/in/nikosgew/"><i class="fa fa-linkedin"></i></a>&nbsp;
     <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
     <p><button>Contact</button></p>
   </div> 
      <!-- ________________________Arnaaaaaaaaaaald -->

   &nbsp;&nbsp;&nbsp;&nbsp;
   <div class="card">
      <img src="https://image.ibb.co/kQKTNT/37075450_2200227933350854_4807276020178616320_n.png" alt="John" style="width:100%">
      <h1>Gkiata Arnald</h1><br>
      <p class="title">Computer Science</p><br>
      <p>Athens University of Economics and Business</p>
      <a href="#"><i class="fa fa-instagram"></i></a>&nbsp;
      <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
      <a href="https://www.linkedin.com/in/arnald-gkiata-57896314a/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
      <p><button>Contact</button></p>
    </div> 
          <!-- ________________________Alkiiiiiiiiiiiiiiis -->

    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card">
       <img src="https://image.ibb.co/mEqZU8/myAvatar.png" alt="John" style="width:100%">
       <h1>Sakarikos Kleanthis </h1>
       <p class="title">Computer Software Engineering</p>
       <p>Technological Educational Institute of Athens</p>
       <a href="#"><i class="fa fa-instagram"></i></a>&nbsp;
       <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
       <a href="https://www.linkedin.com/in/kleanthis-sakarikos-89b68b145/"><i class="fa fa-linkedin"></i></a>&nbsp;
       <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
       <p><button>Contact</button></p>
     </div>
     </div>
  <!-- ________________________ageeeeeeeeeeeeeeeeeelooooooooooooooooooooooooos -->
  <br><br><br>
  <div  class="div22">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card">
     <img src="https://image.ibb.co/mEqZU8/myAvatar.png" alt="John" style="width:100%">
     <h1>Todhri Angjelo  </h1><br>
     <p class="title">Computer Software Engineering</p><br>
     <p>University of Ioannina</p>
     <a href="#"><i class="fa fa-instagram"></i></a>&nbsp;
     <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
     <a href="https://www.linkedin.com/in/angjelo-todhri/"><i class="fa fa-linkedin"></i></a>&nbsp;
     <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
     <p><button>Contact</button></p>
   </div>
  <!-- ________________________Mpaaaaaaaaaaaaaaaaaaaamphhhhhhhhhhhhhhhhhhhssssssssssssssssss -->


   &nbsp;&nbsp;&nbsp;&nbsp;
   <div class="card">
      <img src="https://image.ibb.co/mEqZU8/myAvatar.png" alt="John" style="width:100%">
      <h1>Zormpas Charalampos</h1>
      <p class="title">Digital Systems</p>
      <p>University of Piraeus</p>
      <a href="#"><i class="fa fa-instagram"></i></a>&nbsp;
      <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
      <a href="https://www.linkedin.com/in/charalampos-zormpas/"><i class="fa fa-linkedin"></i></a>&nbsp;
      <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
      <p><button>Contact</button></p>
    </div>
  </div>

  