<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <body>
    <!-- Header -->
    <header id="home">
      <img class="w3-image" src="https://www.w3schools.com/w3images/architect.jpg" alt="Architecture" width=100% height=100%>
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>C_</b></span> 
            <span class="w3-hide-small w3-text-light-grey">Force</span></h1>
      </div>
    </header>
  </body>
</html>


